<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <!-- inserisco la cdn di axios per poterlo utilizzare in seguito-->
    <script text="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
</head>
<body>
    <div id="root">
       <!-- per stampare le email in contemporanea uso un condizionale sulla lunghezza dell'array -->
       <div v-if="mails.length == 10">

       
        <!-- utilizzo un ciclo per stampare le email in una lista -->
            <ul>
                <li v-for="mail in mails">
                    {{ mail }}
                </li>
            </ul>
        </div> 
        
    
    </div>
    <script text="text/javascript" src="js/script.js"></script>
</body>
</html>